.nav-link {
    font-weight: 100;
    color: #f8f9fa;
}
.nav-link:hover {
    color: #f0dd55;
}
.nav-link.active {
    color: #da1313;
}

img.logo {
    width: 100%;
}
.footer-copyright{
    background: #222;
}