<div class="container-fluid general-blocks" (mouseenter)='over()'(mouseleave)='out()'>
    <div class="row">
        <div class="col transform transform-hover" id="ud" #myDiv>
            <div class="untransform"></div>
        </div>
        <div class="col transform">
            <a routerLinkActive="active" [routerLink]="['/articles']">
                <div class="untransform">
                    <div class="text">Authors</div>
                </div>
            </a>
        </div>
        <div class="col transform">
            <a routerLinkActive="active" [routerLink]="['/articles']">
                <div class="untransform">
                    <div class="text">Albums</div>
                </div>
            </a>
        </div>
        <div class="col transform">
            <a routerLinkActive="active" [routerLink]="['/articles']">
                <div class="untransform">
                    <div class="text">Articles</div>
                </div>
            </a>
        </div>
        <div class="col transform">
            <div class="untransform">
                <div class="text">kjahdas</div>
            </div>
        </div>
    </div>
</div>